<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link rel="stylesheet" href="/style/categorias.css">
    <link rel="stylesheet" href="/style/headerGlobal.css">  
    <link rel="stylesheet" href="/style/footerglobal.css">

    <!--Fonts-->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap"
      rel="stylesheet"
    /> -->

  
        <style>
            .body {
                background: rgb(224, 214, 214);
            }
            .categoria-main {
               
                display: flex;
                align-items: start;
                justify-content: center;
            }
            .categoria-produtos{
                width: 90%;
                display: flex;
                flex-wrap: wrap;

            }
            
            .categoria-items-produtos{
                max-width: 270px;   
                display: flex;
                /* border: 2px solid #111; */
                flex-direction: column;
                align-items: center;
                margin: 10px;
                padding: 10px;
                background: #fff;
                border-radius: 0.5rem;
            }
              
        </style>
<title>Categorias</title>
</head>
<body class="body"> 
    <%- include('../components/header.ejs')%> 
    <main >
        <div class="categoria-main">
                <!--caixa do filtro-->
            <div class="filtro-pai">
                    
                <div class="filtro">
                        <div class="filtro-main">
                            <div class="topo-filtro">
                               <img class="antena-topo-filtro" src="/img/funil.webp" alt="">
                               <h2 id="filtros">Filtros</h2> 
                            </div>
                        </div>
                        <div class="filtro-corpo">
                            <h3>Ofertas</h3>
                            <br>
                            
                            <input type="checkbox" name="produtos-prime" id="produtos-prime"> <label for="produtos-prime">Produtos Prime</label>
                            <br>
                            <br>
                            
            
                            <label for="valor-minimo" style="margin-left: 5px;">De: R$</label> 
                            <input class="preco" type="text" id="valor-minimo" name="valor-minimo"  placeholder="0000">
                            <br>
                            <br>
            
                            <label for="valor-maximo">Até: R$</label>
                            <input class="preco"type="text" id="valor-maximo"  name="valor-maximo" placeholder="0000">
                            <br>
                            <br>
                            <!--barra de rolagem-->
                            <div class="scroll">
                                <input style="color:red
                                " type="range" name="" id="">
                            </div>
                            <br>
                            <br>
                            <!--botões-->
                            <button class="botao" type="limpar">Limpar</button>
            
                            <button class="botao" type="aplicar">Aplicar</button>
                            <br>
                            <br>
                            <br>
            
                            <h3>Marcas</h3>
                            <br>
                            
            
                            <input type="checkbox" name="marca-1" id="marca-1"> <label for="marca-1">marca 01</label>
                            <br>
                            <br>
                            <input type="checkbox" name="marca-2" id="marca-2"> <label for="marca-2">marca 02</label>
                            <br>
                            <br>
                            <input type="checkbox" name="marca-3" id="marca-3"> <label for="marca-3">marca 03</label>
                            <br>
                            <br>
                            <input type="checkbox" name="marca-4" id="marca-4"> <label for="marca-4">marca 04</label>
                            <br>
                            <br>
                            <br>
                            
                            
                            <h3>Tipos de Produto</h3>
                            <br>
                            <input type="checkbox" name="produto-1" id="produto-1"> <label for="produto-1">exemplo 01</label>
                            <br>
                            <br>
            
                            <h3>Processador</h3>
                            <br>
            
                            <input type="checkbox" name="processador-1" id="processador-1"> <label for="processador-1">exemplo 01</label>
                            <br>
                            <br>
            
                            <h3>Memória RAM</h3>
                            <br>
                        
                            <input type="checkbox" name="memoria-1" id="memoria-1"> <label for="memoria-1">exemplo 01</label>
                            <br>
                            
                        </div>
                </div>

            </div>

            <!--caixa de produtos-->
            <div class="categoria-produtos">
               
                <% produtos.forEach(produto => { %>
                    <div class="categoria-items-produtos">
                        <img src="/img/Computador.jpg ">
                        <h2><%= produto.nome %> </h2>
                        <h3><%= produto.preco%> </h3>
                    </div>
                       
                <% });  %> 
    
                <% for(let nrPagina = 1; nrPagina <= totalPagina; nrPagina++) { %> 
                        <div class="informacoes">
                            <a href="?page=<%= nrPagina %> "><%= nrPagina %></a>
                        </div>                    
                        
                <% } %> 


                <!-- <div class="produto">
                    <img src="/img/Computador.jpg" alt="" id="imagem-produto">
                    <div class="informacoes">
                    <h2>Infos importantes sobre o produto</h2>
                    </div>                    
                    <div class="disponivel">
                    <h3>DISPONÍVEL</h3>
                    <h4>Compre agora</h4>
                    </div>
                    <img src="" alt="" id="estrelas">
                    <div class="precosMobile">
                    <h1>R$ 2412,00</h1>
                    </div>
                    <div class="jurosMobile">
                    <h5>Em ate 12x sem juros</h5>
                    </div>
                    <div class="precos">
                    <h6>De:R$ 2.850,00</h6>
                    <h5>Por:R$ 2.412,00</h5>
                    <p>Em até 12x no cartão</p>
                    <h3>R$2.000,00</h3>
                    <p=AVISTA id="avista">A VISTA</p>
                    </div>
                </div>
                <div class="produto">
                    <img src="/img/Processador.jpg" alt="" id="imagem-produto">
                    <div class="informacoes"><h2>Infos importantes sobre o produto</h2>
                    </div>
                    <div class="disponivel">
                    <h3>DISPONÍVEL</h3>
                    <h4>Compre agora</h4>
                    </div>
                    <img src="" alt="" id="estrelas">
                    <div class="precosMobile">
                    <h1>R$ 2412,00</h1>
                    </div>
                    <div class="jurosMobile">
                    <h5>Em ate 12x sem juros</h5>
                    </div>
                    <div class="precos">
                    <h6>De:R$ 2.850,00</h6>
                    <h5>Por:R$ 2.412,00</h5>
                    <p>Em até 12x no cartão</p>
                    <h3>R$2.000,00</h3>
                    <p=AVISTA id="avista">A VISTA</p>
                    </div>    
                </div>
                <div class="produto">
                    <img src="/img/Ps5.jpg" alt="" id="imagem-produto">
                    <div class="informacoes"><h2>Infos importantes sobre o produto</h2>
                    </div>                       
                    <div class="disponivel">
                    <h3>DISPONÍVEL</h3>
                    <h4>Compre agora</h4>
                    </div>
                    <img src="" alt="" id="estrelas">
                    <div class="precosMobile">
                    <h1>R$ 2412,00</h1>
                    </div>
                    <div class="jurosMobile">
                    <h5>Em ate 12x sem juros</h5>
                    </div>
                    <div class="precos">
                    <h6>De:R$ 2.850,00</h6>
                    <h5>Por:R$ 2.412,00</h5>
                    <p>Em até 12x no cartão</p>
                    <h3>R$2.000,00</h3>
                    <p=AVISTA id="avista">A VISTA</p>
                    </div>    
                </div>
                <div class="produto">
                    <img src="/img/3570943300_1.jpg" alt="" id="imagem-produto">
                    <div class="informacoes"><h2>Infos importantes sobre o produto</h2>
                    </div>
                    <div class="disponivel">
                    <h3>DISPONÍVEL</h3>
                    <h4>Compre agora</h4>
                    </div>
                    <img src="" alt="" id="estrelas">
                    <div class="precosMobile">
                    <h1>R$ 2412,00</h1>
                    </div>
                    <div class="jurosMobile">
                    <h5>Em ate 12x sem juros</h5>
                    </div>
                    <div class="precos">
                    <h6>De:R$ 2.850,00</h6>
                    <h5>Por:R$ 2.412,00</h5>
                    <p>Em até 12x no cartão</p>
                    <h3>R$2.000,00</h3>
                    <p=AVISTA id="avista">A VISTA</p>
                    </div>    
                </div> -->
             
            </div>

        </div>

    </main>

    <%- include('../components/footer.ejs')%> 
</body>
</html>