<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A pensar</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap"
      rel="stylesheet"/>

      <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!-- CSS -->
    <link rel="stylesheet" href="/style/home.css" />
    <link rel="stylesheet" href="/style/headerGlobal.css">
    <link rel="stylesheet" href="/style/footerglobal.css">
  </head>
  <body>

      <%- include('../components/header')  %> 

     <!-- sessão do carrossel -->
    <a href="/painel-usuario" class="usuario">Bem vindo <%= usuario.name  %> </a>
     <header>
      <div class="header"></div>
      <div class="slider">
          <div class="slider--controls">
              <div class="slider--control" onclick="goPrev()">
                <i class='bx bx-chevron-left bx-md' ></i>
              </div>
              <div class="slider--control" onclick="goNext()">
                  <i class='bx bx-chevron-right bx-md'></i>
              </div>
          </div>
          <div class="slider--width">
              <div class="slider--item" style="background-image: url('/img/img-carrossel-2.jpg');"></div>
              <div class="slider--item" style="background-image: url('/img/img-carrossel-4.jpg');"></div>
              <div class="slider--item" style="background-image: url('/img/img-carrossel-5.jpg');"></div>
          </div>
      </div>
  </header>
  <script src="js/carrossel.js"></script>
    <!-- sessão do carrossel -->

      <h4 style="text-align: center; font-size: 2rem; margin-top: 40px;">Promoção</h4>

      <div class="categoria-main" >
        <% produtos.forEach(produto => { %>
          <div >
            <% if (produto.ativo === 1) { %>
             <a class="categoria-items-produtos" href="/detalhesProduto/<%= produto.id %>">
               <img src="/img/Computador.jpg">
               <h2 class="descricao">Destaque do Mês</h2>
               <h3 class="descricao"><%= produto.nome%></h3>
               <p class="descricao"><%= produto.preco%></p>
             </a>
            <% } %> 
          </div>
        <% });  %> 
      </div>

    </main>
    <%- include('../components/footer.ejs')  %> 

  </body>
</html>
