<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    
    <link rel="stylesheet" href="/style/headerGlobal.css">
    <link rel="stylesheet" href="/style/footerglobal.css">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />


    <title>Promoção</title>

    <style>
        .body {
            background: rgb(224, 214, 214);
        }
        .categoria-main {
           
            display: flex;
            align-items: start;
            justify-content: center;
            margin-top: 215px;
        }
        .categoria-produtos{
            width: 100%;
            display: flex;
            flex-wrap: wrap;

        }
        
        .categoria-items-produtos{
            max-width: 270px;   
            display: flex;
            /* border: 2px solid #111; */
            flex-direction: column;
            align-items: center;
            margin: 10px;
            padding: 10px;
            background: #fff;
            border-radius: 0.5rem;
        }

       
          
    </style>
</head>
<body>
        <%- include('../components/header.ejs') %>
    
    <main>
            
        <div class="categoria-main" >
            <% produtos.forEach(produto => { %>
              <div >
                <% if (produto.ativo === 1) { %>
                 <a class="categoria-items-produtos" href="/detalhesProduto/<%= produto.id %>">
                   <img src="/img/Computador.jpg">
                   <h2 class="descricao">Destaque do Mês</h2>
                   <h3 class="descricao"><%= produto.nome%></h3>
                   <p class="descricao"><%= produto.preco%></p>
                 </a>
                <% } %> 
              </div>
            <% });  %> 
        </div>

    </main>

    <%- include('../components/footer.ejs')  %> 
    
</body>
</html>