<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/home.css" />
    <link rel="stylesheet" href="/style/headerGlobal.css">
    <link rel="stylesheet" href="/style/footerglobal.css">

    <style>
        

        .p{
            /*border: solid 1px darkred;
            border-radius: 0.25rem;*/
            font-size: 1.5rem;
            padding: 5px;

        }

        .btn{
            padding: 5px;
            font-weight: 400;
            font-size: 1rem;
            background-color: #FFF;
            color: #FFF;
            border-radius: 0.5rem;
            font-style: bold;
            margin: 2px 5px 2px 5px;
            cursor: pointer;
        }

        .blue{
            background-color: #ABDCFF;
        }
        .yellow{
                background-color: #fcfc9b;
        }
        .red{
                background-color: #dfc0ab;
        }


        .ações-container{
                display: flex;
        }

    </style>


    <title>Cadastro de Produtos</title>
</head>

<body>
        <%-include('../components/header') %>

<main>
        
        <a style="background-color: deepskyblue;"href="/admin/produtosCadastro">Cadastrar Novo Produto</a>
        <table> 
                <thead>
                        <tr>
                                <th style="border: 1px solid gray;">ID</th>
                                <th style="border: 1px solid gray;">Nome</th>
                                <th style="border: 1px solid gray;">Preço</th>
                                <th style="border: 1px solid gray;">Imagem</th>
                                <th style="border: 1px solid gray;">Qnt</th>
                                <th style="border: 1px solid gray;">Fabricante</th>
                                <th style="border: 1px solid gray;">Promoção</th>
                                <th style="border: 1px solid gray;">Ações</th>
                        </tr>
                </thead>
                <tbody>
                        <% produtos.forEach(produto => { %>
                        <tr>
                                <th style="border: 1px solid gray;"><%= produto.id %></th>
                                <th style="border: 1px solid gray;"><%= produto.nome %></th>
                                <th style="border: 1px solid gray;"><%= produto.preco%></th>
                                <th style="border: 1px solid gray;"><%= produto.imagem %></th>
                                <th style="border: 1px solid gray;"><%= produto.quantidade %></th>
                                <th style="border: 1px solid gray;"><%= produto.id_fabricante %></th>
                                <th style="border: 1px solid gray;">
                                        <% if (produto.ativo === 0) { %>
                                         <p style="background-color: #b3a9a9;color: #FFF;">Não</p>
                                        <% }else{ %>
                                         <p style="background-color:#0069fa; color:#FFF">Sim</p>
                                        <% } %> 
                                      
                                </th>
                                <th class="ações-container">
                                        <a  href="/detalhesProduto/<%= produto.id %>"> <button class="btn blue">👀</button></a>
                                        <a  href="/admin/editarProduto/<%= produto.id %>"> <button class="btn yellow">✏️</button></a>

                                        <form action="/admin/deletarProduto/<%= produto.id%>?_method=DELETE" method="post">
                                                <button class="btn red" type="submit">🗑️</button>
                                        </form>   
                                </th>      
                        </tr>
                        <% });  %> 
                </tbody>
        </table>

        <div style="display: flex;gap: 10px;margin-top: 2rem;">
                <% for (let nrPagina = 1; nrPagina <= totalPagina; nrPagina++){ %>
                    <div style="background-color: deepskyblue;" ><a href="?page=<%= nrPagina %>"><%= nrPagina %></a></div>
                <% } %>
            </div>
</main>

        <%- include('../components/footer.ejs')  %> 

</body>

</html>