<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/home.css" />
    <link rel="stylesheet" href="/style/headerGlobal.css">
    <link rel="stylesheet" href="/style/footerglobal.css">
    <title>Cadastro de Produtos</title>
</head>

<body>
        <%-include('../components/header') %>

<main>
        
        <a style="background-color: deepskyblue;"href="/admin/produtosCadastro">Cadastrar Novo Produto</a>
        <table> 
                <thead>
                        <tr>
                                <th style="border: 1px solid gray;">ID</th>
                                <th style="border: 1px solid gray;">Nome</th>
                                <th style="border: 1px solid gray;">Preço</th>
                                <th style="border: 1px solid gray;">Imagem</th>
                                <th style="border: 1px solid gray;">Qnt</th>
                                <th style="border: 1px solid gray;">Promoção</th>
                        </tr>
                </thead>
                <tbody>
                        <% produtos.forEach(produto => { %>
                        <tr>
                                <th style="border: 1px solid gray;"><%= produto.id %></th>
                                <th style="border: 1px solid gray;"><%= produto.nome %></th>
                                <th style="border: 1px solid gray;"><%= produto.preco%></th>
                                <th style="border: 1px solid gray;"><%= produto.imagem %></th>
                                <th style="border: 1px solid gray;"><%= produto.quantidade %></th>
                                <th style="border: 1px solid gray;">
                                        <% if (produto.ativo === 0) { %>
                                         <p style="background-color: #da1b1b;color: #FFF;">Não</p>
                                        <% }else{ %>
                                         <p style="background-color:#0069fa; color:#FFF">Sim</p>
                                        <% } %> 
                                </th>
                                
                        </tr>
                        <% });  %> 
                </tbody>
        </table>

        <div style="display: flex;gap: 10px;margin-top: 2rem;">
                <% for (let nrPagina = 1; nrPagina <= totalPagina; nrPagina++){ %>
                    <div style="background-color: deepskyblue;" ><a href="?page=<%= nrPagina %>"><%= nrPagina %></a></div>
                <% } %>
            </div>
</main>

        <%- include('../components/footer.ejs')  %> 

</body>

</html>